<!-- Order Cancellation Information -->
{% if order.cancelled %}
<div class="alert alert-error">
  <strong>Order Cancelled on {{ order.cancelled_at | date: "%B %d, %Y" }}</strong>
  <p>
    {{ order.cancel_reason }}
  </p>
</div>
{% endif %}

<!-- Billing Address -->
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Billing Address <span class="label label-default" title="Payment Status">{{ order.financial_status }}</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <address>
          <strong>{{ order.billing_address.name }}</strong><br />
          {{ order.billing_address.company }}<br />
          {{ order.billing_address.street }}<br />
          {{ order.billing_address.city }} {% if order.billing_address.province %}, {{ order.billing_address.province }}{% endif %}<br />
          {{ order.billing_address.country }} {{ order.billing_address.zip }}<br />
          {{ order.billing_address.phone }}<br />
        </address>
      </td>
    </tr>
  </tbody>
</table>

<!-- Shipping Address (If Required) -->
{% if order.shipping_address %}
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Shipping Address <span class="label label-default" title="Fulfilment Status">{{ order.fulfillment_status }}</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <address>
          <strong>{{ order.shipping_address.name }}</strong><br />
          {{ order.shipping_address.company }}<br />
          {{ order.shipping_address.street }}<br />
          {{ order.shipping_address.city }} {% if order.shipping_address.province %}, {{ order.shipping_address.province }}{% endif %}<br />
          {{ order.shipping_address.country }} {{ order.shipping_address.zip }}<br />
          {{ order.shipping_address.phone }}<br />
        </address>
      </td>
    </tr>
  </tbody>
</table>
{% endif %}
