<div class="hidden-xs row">
  <div class="col-sm-4 slogan">
    <h2>Diggin' through the crates of the web.</h2>
  </div>
  <div class="col-sm-8 about lead">
    <p>
      We provide the best <a href="https://creativecommons.org/licenses/" target="_blank">Creative Commons</a> audio files from around the web as pre-sliced loops with tempo, key, and more! Perfect for GarageBand, Logic, etc.
    </p>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12 slogan">
    <h2>Diggin' through the crates of the web.</h2>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12 slogan lead">
    <p>
      We provide the best <a href="https://creativecommons.org/licenses/" target="_blank">Creative Commons</a> audio files from around the web as pre-sliced loops with tempo, key, and more! Perfect for GarageBand, Logic, etc.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="hidden-xs row">
  <div class="col-sm-4 lead">
    <p>
      Every audio file includes licensing information for proper attribution.
    </p>
  </div>
  <div class="col-sm-8">
    <div class="thumbnail">
      <img src="{{ 'license_example.png' | asset_url }}" />
    </div>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12 lead">
    <p>
      Every audio file includes licensing information for proper attribution.
    </p>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12">
    <div class="thumbnail">
      <img src="{{ 'license_example.png' | asset_url }}" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="hidden-xs row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{{ 'profile_example.png' | asset_url }}" />
    </div>
  </div>
  <div class="col-sm-8 lead">
    <p>
      Also included is a profile with data such as tempo, key and time signature. These data points are associated with a confidence value indicating the level accuracy.
    </p>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12 lead">
    <p>
      Also included is a profile with data such as tempo, key and time signature. These data points are associated with a confidence value indicating the level accuracy.
    </p>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12">
    <div class="thumbnail">
      <img src="{{ 'profile_example.png' | asset_url }}" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="hidden-xs row">
  <div class="col-sm-8 lead">
    <p>
      Each loop is also associated with a confidence value. This indicates how accurately the loop represents its given type (section, bar, beat).
    </p>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{{ 'manifest_example.png' | asset_url }}" />
    </div>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12 lead">
    <p>
      Each loop is also associated with a confidence value. This indicates how accurately the loop represents its given type (section, bar, beat).
    </p>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12">
    <div class="thumbnail">
      <img src="{{ 'manifest_example.png' | asset_url }}" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="hidden-xs row">
  <div class="col-sm-6">
    <h3>{{ collections.pro.title }}</h3>
    <hr>
    {% unless collections.pro.description == '' %}
      <p class="lead">{{ collections.pro.description }}</p>
    {% endunless %}
    <hr>
    {% for product in collections.pro.products %}
      {% include 'product-list' with '2' %}
    {% endfor %}
  </div>
  <div class="col-sm-6">
    <h3>{{ collections.lite.title }}</h3>
    <hr>
    {% unless collections.lite.description == '' %}
      <p class="lead">{{ collections.lite.description }}</p>
    {% endunless %}
    <hr>
    {% for product in collections.lite.products %}
      {% include 'product-list' with '2' %}
    {% endfor %}
  </div>
</div>

<div class="visible-xs row text-center">
  <div class="col-xs-12">
    <h3>{{ collections.pro.title }}</h3>
    <hr>
    {% unless collections.pro.description == '' %}
      <p class="lead">{{ collections.pro.description }}</p>
    {% endunless %}
    <hr>
    {% for product in collections.pro.products %}
      {% include 'product-list' with '2' %}
    {% endfor %}
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12">
    <h3>{{ collections.lite.title }}</h3>
    <hr>
    {% unless collections.lite.description == '' %}
      <p class="lead">{{ collections.lite.description }}</p>
    {% endunless %}
    <hr>
    {% for product in collections.lite.products %}
      {% include 'product-list' with '2' %}
    {% endfor %}
  </div>
</div>
