<div class="hidden-xs row">
  <div class="col-sm-4 slogan">
    <h2>Diggin' through the crates of the web.</h2>
  </div>
  <div class="col-sm-8 about lead">
    <p>
      Epicloops provides the best <a href="https://creativecommons.org/licenses/" target="_blank">Creative Commons</a> audio files from around the web in loop/sample form. Perfect for GarageBand, Logic, Protools, etc.
    </p>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12 slogan">
    <h2>Diggin' through the crates of the web.</h2>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12 slogan lead">
    <p>
      Epicloops provides the best <a href="https://creativecommons.org/licenses/" target="_blank">Creative Commons</a> audio files from around the web in loop/sample form. Perfect for GarageBand, Logic, Protools, etc.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="hidden-xs row">
  <div class="col-sm-4 lead">
    <p>
      Every audio file include a license file for proper attribution.
    </p>
  </div>
  <div class="col-sm-8">
    <div class="thumbnail">
      <img src="{{ 'license_example.png' | asset_url }}" />
    </div>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12 lead">
    <p>
      Every audio file include a license file for proper attribution.
    </p>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12">
    <div class="thumbnail">
      <img src="{{ 'license_example.png' | asset_url }}" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="hidden-xs row">
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{{ 'profile_example.png' | asset_url }}" />
    </div>
  </div>
  <div class="col-sm-8 lead">
    <p>
      Every audio file also includes a profile with info such as tempo, key and time signature.
    </p>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12 lead">
    <p>
      Every audio file also includes a profile with info such as tempo, key and time signature.
    </p>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12">
    <div class="thumbnail">
      <img src="{{ 'profile_example.png' | asset_url }}" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="hidden-xs row">
  <div class="col-sm-8 lead">
    <p>
      Eeach sample type (section, bar, beat) includes a confidence file that indicates how confident we are that the sample truly represents the given sample type.
    </p>
  </div>
  <div class="col-sm-4">
    <div class="thumbnail">
      <img src="{{ 'manifest_example.png' | asset_url }}" />
    </div>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12 lead">
    <p>
      Eeach sample type (section, bar, beat) includes a confidence file that indicates how confident we are that the sample truly represents the given sample type.
    </p>
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12">
    <div class="thumbnail">
      <img src="{{ 'manifest_example.png' | asset_url }}" />
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <hr>
  </div>
</div>

<div class="hidden-xs row">
  <div class="col-sm-6">
    <h3>{{ collections.pro.title }}</h3>
    <hr>
    {% unless collections.pro.description == '' %}
      <p class="lead">{{ collections.pro.description }}</p>
    {% endunless %}
    <hr>
    {% for product in collections.pro.products %}
      {% include 'product-list' with '2' %}
    {% endfor %}
  </div>
  <div class="col-sm-6">
    <h3>{{ collections.lite.title }}</h3>
    <hr>
    {% unless collections.lite.description == '' %}
      <p class="lead">{{ collections.lite.description }}</p>
    {% endunless %}
    <hr>
    {% for product in collections.lite.products %}
      {% include 'product-list' with '2' %}
    {% endfor %}
  </div>
</div>

<div class="visible-xs row text-center">
  <div class="col-xs-12">
    <h3>{{ collections.pro.title }}</h3>
    <hr>
    {% unless collections.pro.description == '' %}
      <p class="lead">{{ collections.pro.description }}</p>
    {% endunless %}
    <hr>
    {% for product in collections.pro.products %}
      {% include 'product-list' with '2' %}
    {% endfor %}
  </div>
</div>
<div class="visible-xs row text-center">
  <div class="col-xs-12">
    <h3>{{ collections.lite.title }}</h3>
    <hr>
    {% unless collections.lite.description == '' %}
      <p class="lead">{{ collections.lite.description }}</p>
    {% endunless %}
    <hr>
    {% for product in collections.lite.products %}
      {% include 'product-list' with '2' %}
    {% endfor %}
  </div>
</div>
